<div id="popup" class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h3>Melding</h3>
            <button class="close-button" onclick="closePopup()">×</button>
        </div>
        <div class="popup-body">
            <p id="popup-message"></p>
        </div>
    </div>
</div> 