<section class="sliding-venster" id="slidingvenster">
  <section class="venster-content">
    <a href="#" class="close-button">
      <svg viewBox="0 0 24 24" width="32" height="32">
        <path
          fill="var(--fortnite-yellow)"
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
        />
      </svg>
    </a>
    <section class="venster-icons">
      <div class="venster-icon">
        <svg viewBox="0 0 24 24" width="40" height="40">
          <path
            fill="var(--fortnite-blue)"
            d="M12,3c-4.97,0-9,3.185-9,7.115c0,2.557,1.522,4.82,3.889,6.115l-1.651,3.725l4.947-2.562c.54.13,1.103.2,1.684.2c.58,0,1.143-.07,1.683-.2l4.948,2.562l-1.651-3.725C19.478,14.935,21,12.672,21,10.115C21,6.185,16.97,3,12,3z"
          />
        </svg>
        <span>Dark Mode</span>
      </div>
      <div class="venster-icon">
        <svg viewBox="0 0 24 24" width="40" height="40">
          <path
            fill="var(--fortnite-purple)"
            d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
          />
          <circle cx="12" cy="12" r="5" fill="var(--fortnite-purple)" />
        </svg>
        <span>Blind Mode</span>
      </div>
      <div class="venster-icon">
        <svg viewBox="0 0 24 24" width="40" height="40">
          <path
            fill="var(--fortnite-red)"
            d="M12,22c1.1,0,2-.9,2-2H10C10,21.1,10.9,22,12,22zM18,16V11c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5S10,3.17,10,4v0.68C7.63,5.36,6,7.92,6,11v5l-2,2v1h16v-1L18,16z"
          />
        </svg>
        <span>Notifications</span>
      </div>
    </section>      <% if (locals.userId) { %>
        <form action="/logout" method="POST" class="logout-form">
          <button type="submit" class="logout-button">Logout</button>
        </form>
      <% } %>
    <section class="venster-buttons">
      <button class="fortnite-button blue">
        <span>Gegevens aanpassen</span>
      </button>
      <button class="fortnite-button red">
        <span>Account verwijderen</span>
      </button>
    </section>
  </section>
</section>

<script>
  const pfp = document.querySelector("#pfp-icon");
  const slidingvenster = document.getElementById("slidingvenster");

  pfp.addEventListener("click", () => {
    slidingvenster.classList.toggle("open");
  });

  document.querySelector(".close-button").addEventListener("click", (e) => {
    e.preventDefault();
    slidingvenster.classList.remove("open");
  });
</script>