<%- include('./partials/head') %>

<main>
    <section class="logo-grid">
      <a href="./login" class="logo-card">
        <img src="./images/fortnite_logo.webp" alt="Fortnite Logo" />
      </a>

      <a href="#" class="logo-card" onclick="showPopup('FIFA is nog niet beschikbaar!'); return false;">
        <img src="./images/fifa_logo.png" alt="FIFA Logo" />
      </a>

      <a href="#" class="logo-card" onclick="showPopup('LEGO is nog niet beschikbaar!'); return false;">
        <img src="./images/lego_logo.webp" alt="LEGO Logo" />
      </a>

      <a href="#" class="logo-card" onclick="showPopup('Lord of the Rings is nog niet beschikbaar!'); return false;">
        <img src="./images/lotr_logo.png" alt="Lord of the Rings Logo" />
      </a>

      <a href="#" class="logo-card" onclick="showPopup('Pokemon is nog niet beschikbaar!'); return false;">
        <img src="./images/pokemon_logo.jpg" alt="Pokemon Logo" />
      </a>

      <a href="#" class="logo-card" onclick="showPopup('Magic The Gathering is nog niet beschikbaar!'); return false;">
        <img src="./images/mtg_logo.webp" alt="Magic The Gathering Logo" />
      </a>
    </section>
</main>

<%- include('./partials/foot') %>