.main-locker {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .locker-section {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
  }
  
  .section-title {
    color: var(--fortnite-yellow);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 3px 3px 0 var(--fortnite-dark);
    letter-spacing: 2px;
    position: relative;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background: var(--fortnite-blue);
    margin: 10px auto;
  }
  
  .items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .locker-item {
    background-color: rgba(15, 25, 35, 0.8);
    border-radius: 15px;
    padding: 15px;
    border: 3px solid var(--fortnite-blue);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .locker-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
    border-color: var(--fortnite-yellow);
  }
  
  .item-image {
    border-radius: 10%;
    width: 100%;
    height: auto;
    object-fit: contain;
    flex-grow: 1;
  }
  
  .item-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .item-action {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .item-action:hover {
    transform: scale(1.2) rotate(10deg);
  }
  
  .star-icon {
    color: var(--fortnite-yellow);
  }
  
  .blacklist-icon {
    background-color: var(--fortnite-red);
    border-radius: 30%;
  }