* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("/Src/assets/images/Battle\ Background.PNG");
  background-size: cover;
  font-family: Arial, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
}

.pfp-icon{ 
  width: 50px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 5px black;
  z-index: 110;
  position: relative;
  height: 50px;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px; 
  transition: transform 0.3s ease;
}

.pfp-icon img {
  width: 50px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 5px black;
  z-index: 110;
  position: relative;
}

.v-bucks {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
}

.v-bucks-img {
  width: 50px;
}

.v-bucks-count {
  font-size: 16px;
  color: black;
  padding: 10px;
  font-weight: bold;
  align-content: center;
  padding-right: 10px;
}

/* Navbar */
.navbar {
  position: relative;
  width: 100%;
  padding: 10px 0;
  text-align: center;

}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
  padding: 0 5px;
  margin: 0;
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
  color: rgb(23, 76, 220);
  background-color: rgba(234, 239, 44, 1);
  border-radius: 25px;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 5px black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
  display: inline-block;
  letter-spacing: 1px;
  white-space: nowrap;
  min-width: 80px;
  text-align: center;
  transition: transform 0.3s ease;
}

.nav-item:hover {
  transform: scale(1.1);
}

/* Content */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 5%;
  width: 100%;
}

/* Ranking */
.ranking-box {
  width: 100%;
  max-height: 300px;
  max-width: 280px;
  background-color: rgba(60, 0, 100, 0.8);
  border: 2px solid #6633cc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.ranking-title {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.rank-name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Karakter */
.character {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.character:hover {
  transform: scale(1.1);
}

.character-name {
  background-color: rgba(242, 230, 230, 0.7);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}


/* Stats */
.stats-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 280px;
}

.stats-box {
  width: 100%;
  min-height: 120px;
  background-color: rgba(60, 0, 100, 0.8);
  border: 2px solid #6633cc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.stats-info {
  width: 100%;
  min-height: 120px;
  background-color: rgba(60, 0, 100, 0.8);
  border: 2px solid #6633cc;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.stat-row {
  height: 40px;
}

.stat-label {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
}

.stat-value {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-right: 30px;
}

/* Media Queries */

@media (max-width: 768px) {

  header {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .currency {
    order: 1;
    flex: 0 0 auto;
  }

  .profile-pic {
    order: 2;
    flex: 0 0 auto;
    margin-left: auto;
  }

  .navbar {
    order: 3;
    width: 100%;
    flex: 0 0 100%;
    margin-top: 15px;
  }

  .content {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .ranking-box,
  .stats-container {
    max-width: 250px;
    margin: 0 auto 20px;
  }

  .character {
    margin: 20px auto;
  }

  .character-figure img {
    max-height: 450px;
  }

}
