<!-- Include head -->
<%- include('./partials/head') %>

<main>
    <div class="form-container">
      <h2 id="form-title">Inloggen</h2>

      <!-- Login Form -->
      <form id="login-form" class="active">
        <input type="email" placeholder="E-mail" required />
        <input type="password" placeholder="Wachtwoord" required />
        <button type="submit">Inloggen</button>
        <p>
          Nog geen account? <span id="switch-to-register">Account aanmaken?</span>
        </p>
      </form>

      <!-- Register Form -->
      <form id="register-form">
        <input type="text" placeholder="Gebruikersnaam" required />
        <input type="email" placeholder="E-mail" required />
        <input type="password" placeholder="Wachtwoord" required />
        <input type="password" placeholder="Bevestig Wachtwoord" required />
        <button type="submit">Account Aanmaken</button>
        <p>
          Al een account? <span id="switch-to-login">Inloggen?</span>
        </p>
      </form>
    </div>
  </main>

<!-- Include foot -->
<%- include('./partials/foot') %>