<!-- Include head -->
<%- include('./partials/head') %>
<!-- Include nav -->
<%- include('./partials/nav') %>

<main class="shop-container">
    <!-- Bericht met aftelling -->
  
    <header class="featured-banner">
      <p>DAGELIJKSE AANBIEDINGEN - NIEUWE ITEMS ELKE DAG!</p>
      <time class="countdown" datetime="23:59:59">Nieuwe items in: 23:59:59</time>
    </header>
  
    <!-- Verkoop items -->
    <section class="shop-items" aria-label="Winkelvoorwerpen">
      <!-- Item 1 -->
      <article class="shop-item">
        <figure class="item-image-container">
          <img class="shop-item-image" src="/images/farooq.png" alt="Skin" />
        </figure>
        <div class="shop-item-details">
          <h3 class="shop-item-name">Raven</h3>
          <p class="shop-item-price">
            <img src="/images/VBucksIcon.png" alt="V-Bucks" />
            <span>1,500</span>
          </p>
          <button class="shop-item-button">KOPEN</button>
        </div>
      </article>
    <!-- Item 2 -->
    <article class="shop-item">
        <figure class="item-image-container">
          <img class="shop-item-image" src="/images/farooq.png" alt="Pickaxe" />
        </figure>
        <div class="shop-item-details">
          <h3 class="shop-item-name">Reaper Bijl</h3>
          <p class="shop-item-price">
            <img src="/images/VBucksIcon.png" alt="V-Bucks" />
            <span>800</span>
          </p>
          <button class="shop-item-button">KOPEN</button>
        </div>
      </article>
  
      <!-- Item 3 -->
      <article class="shop-item">
        <figure class="item-image-container">
          <img class="shop-item-image" src="/images/farooq.png" alt="Glider" />
        </figure>
        <div class="shop-item-details">
          <h3 class="shop-item-name">Valkyrie Glider</h3>
          <p class="shop-item-price">
            <img src="/images/VBucksIcon.png" alt="V-Bucks" />
            <span>1,200</span>
          </p>
          <button class="shop-item-button">KOPEN</button>
        </div>
      </article>
      <!-- Item 4 -->
      <article class="shop-item">
        <figure class="item-image-container">
          <img class="shop-item-image" src="/images/farooq.png" alt="Emote" />
        </figure>
        <div class="shop-item-details">
          <h3 class="shop-item-name">Floss</h3>
          <p class="shop-item-price">
            <img src="/images/VBucksIcon.png" alt="V-Bucks" />
            <span>500</span>
          </p>
          <button class="shop-item-button">KOPEN</button>
        </div>
      </article>
  
      <!-- Item 5 -->
      <article class="shop-item">
        <figure class="item-image-container">
          <img class="shop-item-image" src="/images/farooq.png" alt="Skin" />
        </figure>
        <div class="shop-item-details">
          <h3 class="shop-item-name">Black Knight</h3>
          <p class="shop-item-price">
            <img src="/images/VBucksIcon.png" alt="V-Bucks" />
            <span>2,000</span>
          </p>
          <button class="shop-item-button">KOPEN</button>
        </div>
      </article>
    </section>
  </main>
  
  

<!-- Include window -->
<%- include('./partials/window') %>
<!-- Include foot -->
<%- include('./partials/foot') %>
